extends layout

block content
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
    style.
      body.s {
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      form.s {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .form-container {
        position: relative; /* To act as positioning context for absolute positioning */
        text-align: center;
        height: 300px; /* Set a specific height for the container */
      }

      div.s > * {
        margin-bottom: 16px;
      }

      .form-row {
        display: flex;
      }

      input.s[type="text"] {
        font-size: 16px;
        width: 400px;
        height: 50px;
        margin: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      input.s[type="text"]:focus {
        outline: 2px solid #272829;
      }

      input.s[type="submit"] {
        width: 160px;
        height: 50px;
        font-size: 20px;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #272829;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }

      input.s[type="submit"]:hover {
        background-color: #D8D9DA;
        color: #272829;
        border: 2px solid #272829;
      }

      img.logo {
        position: absolute;
        top: -150;
        left: 50%;
        transform: translateX(-50%);
      }
  body.s
    div.s.form-container
      //- img.logo(src="logo.jpg", alt="Logo", height="150px")
      br
      br
      img(src="railway.png", alt="realway", width="600px")
      form.s(action="/search", method="post")
        .form-row
          input.s(type="text", name="source")
          input.s(type="text", name="destination")
        input.s(type="submit", value="Search")
